# Copyright 2018 Juniper Networks, Inc. All rights reserved.
# Licensed under the Juniper Networks Script Software License (the "License").
# You may not use this script file except in compliance with the License, which is located at
# http://www.juniper.net/support/legal/scriptlicense/
# Unless required by applicable law or otherwise agreed to in writing by the parties,
# software distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# Each list item contains:
#    name: name of a node in the inventory (string)
#    profile: name of hardware profile, group of servers (optional, string)
#    leaf: leaf name (optional, string)

{% set compute_dpdk_count = namespace(value=0) %}

# List of nodes to use as compute role using Contrail DPDK vRouter
compute_nodes_dpdk:
{% if dpdkcompute is defined %}
{% for item in dpdkcompute %}
  - name: "{{ 'computedpdk' + compute_dpdk_count.value|string }}"
    {% set compute_dpdk_count.value =  compute_dpdk_count.value + 1 -%}
    #leaf: '0'
    #profile: 'Hw0'
    #status: deleting
{% endfor %}
{% endif %}

{% set compute_kernel_count = namespace(value=0) %}

# List of nodes to use as compute role using Contrail kernel vRouter
compute_nodes_kernel:
{% if kernelcompute is defined %}
{% for item in kernelcompute %}
  - name: "{{ 'computekernel' + compute_kernel_count.value|string }}"
    #leaf: '0'
    #profile: 'Hw0'
    #status: deleting
{% set compute_kernel_count.value =  compute_kernel_count.value + 1 %}
{% endfor %}
{% endif %}