Contrail_network_config:
  - type: interface
    name: eth0
    dns_servers:
      get_param: DnsServers
    mtu:
      get_param: ControlPlaneNetworkMtu
    addresses:
    - ip_netmask:
        list_join:
          - '/'
          - - get_param: ControlPlaneIp
            - get_param: ControlPlaneSubnetCidr
    use_dhcp: false
    routes:
    -
      ip_netmask: 169.254.169.254/32
      next_hop:
        get_param: EC2MetadataIp
    -
      default: True
      next_hop:
        get_param: ControlPlaneDefaultRoute
  - type: interface
    name: eth1
    use_dhcp: false
  - type: vlan
    device: eth1
    vlan_id:
      get_param: InternalApiNetworkVlanID
    mtu:
      get_param: InternalApiNetworkMtu
    addresses:
    - ip_netmask:
        get_param: InternalApiIpSubnet
  - type: vlan
    device: eth1
    vlan_id:
      get_param: TenantNetworkVlanID
    mtu:
      get_param: TenantNetworkMtu
    addresses:
    - ip_netmask:
        get_param: TenantIpSubnet

Controller_network_config:
  - type: interface
    name: eth0
    dns_servers:
      get_param: DnsServers
    use_dhcp: false
    mtu:
      get_param: ControlPlaneNetworkMtu
    addresses:
    - ip_netmask:
        list_join:
          - '/'
          - - get_param: ControlPlaneIp
            - get_param: ControlPlaneSubnetCidr
    routes:
    -
      ip_netmask: 169.254.169.254/32
      next_hop:
        get_param: EC2MetadataIp
    -
      default: True
      next_hop:
        get_param: ControlPlaneDefaultRoute
  - type: interface
    name: eth1
    use_dhcp: false
  - type: vlan
    device: eth1
    vlan_id:
      get_param: StorageNetworkVlanID
    mtu:
      get_param: StorageNetworkMtu
    addresses:
    - ip_netmask:
        get_param: StorageIpSubnet
  - type: vlan
    device: eth1
    vlan_id:
      get_param: StorageMgmtNetworkVlanID
    mtu:
      get_param: StorageMgmtNetworkMtu
    addresses:
    - ip_netmask:
        get_param: StorageMgmtIpSubnet
  - type: vlan
    device: eth1
    vlan_id:
      get_param: InternalApiNetworkVlanID
    mtu:
      get_param: InternalApiNetworkMtu
    addresses:
    - ip_netmask:
        get_param: InternalApiIpSubnet
  - type: vlan
    device: eth1
    vlan_id:
      get_param: ExternalNetworkVlanID
    mtu:
      get_param: ExternalNetworkMtu
    addresses:
    - ip_netmask:
        get_param: ExternalIpSubnet
    #routes:
    #-
    #  default: True
    #  next_hop:
    #    get_param: ExternalInterfaceDefaultRoute

AppformixController_network_config:
  - type: interface
    name: eth0
    dns_servers:
      get_param: DnsServers
    use_dhcp: false
    mtu:
      get_param: ControlPlaneNetworkMtu
    addresses:
    - ip_netmask:
        list_join:
          - '/'
          - - get_param: ControlPlaneIp
            - get_param: ControlPlaneSubnetCidr
    routes:
    -
      ip_netmask: 169.254.169.254/32
      next_hop:
        get_param: EC2MetadataIp
    -
      default: True
      next_hop:
        get_param: ControlPlaneDefaultRoute
  - type: interface
    name: eth1
    use_dhcp: false
  - type: vlan
    device: eth1
    vlan_id:
      get_param: InternalApiNetworkVlanID
    mtu:
      get_param: InternalApiNetworkMtu
    addresses:
    - ip_netmask:
        get_param: InternalApiIpSubnet
  - type: vlan
    device: eth1
    vlan_id:
      get_param: ExternalNetworkVlanID
    mtu:
      get_param: ExternalNetworkMtu
    addresses:
    - ip_netmask:
        get_param: ExternalIpSubnet
    #routes:
    #-
    #  default: True
    #  next_hop:
    #    get_param: ExternalInterfaceDefaultRoute

{% if kernelcompute is defined %}
ComputeKernel_network_config:
  - type: interface
    name: eno1
    use_dhcp: false
  - type: interface
    name: {{ kernelcompute[0]['int10g2'] }}
    dns_servers:
      get_param: DnsServers
    use_dhcp: false
    mtu:
      get_param: ControlPlaneNetworkMtu
    addresses:
    - ip_netmask:
        list_join:
          - '/'
          - - get_param: ControlPlaneIp
            - get_param: ControlPlaneSubnetCidr
    routes:
    -
      ip_netmask: 169.254.169.254/32
      next_hop:
        get_param: EC2MetadataIp
    -
      default: True
      next_hop:
        get_param: ControlPlaneDefaultRoute
  - type: vlan
    device: {{ kernelcompute[0]['int10g3'] }}
    vlan_id:
      get_param: StorageNetworkVlanID
    mtu:
      get_param: StorageNetworkMtu
    addresses:
    - ip_netmask:
        get_param: StorageIpSubnet
  - type: vlan
    device: {{ kernelcompute[0]['int10g3'] }}
    vlan_id:
      get_param: InternalApiNetworkVlanID
    mtu:
      get_param: InternalApiNetworkMtu
    addresses:
    - ip_netmask:
        get_param: InternalApiIpSubnet
  #- type: linux_bond
  #  name: bond0
  #  use_dhcp: false
  #  bonding_options: "mode=802.3ad xmit_hash_policy=layer3+4 lacp_rate=fast updelay=1000 miimon=100"
  #  members:
    #- type: interface
    #  name: ens1f0
    #  primary: true
  - type: vlan
    vlan_id:
      get_param: TenantNetworkVlanID
    device: {{ kernelcompute[0]['int10g3'] }}
  - type: contrail_vrouter
    name: vhost0
    use_dhcp: false
    members:
      -
        type: interface
        name:
          str_replace:
            template: vlanVLANID
            params:
              VLANID: {get_param: TenantNetworkVlanID}
        use_dhcp: false
    addresses:
    - ip_netmask:
        get_param: TenantIpSubnet
    mtu:
      get_param: TenantNetworkMtu
{% endif %}

{% if dpdkcompute is defined %}
ComputeDpdk_network_config:
  - type: interface
    name: eno1
    use_dhcp: false
  - type: interface
    name: {{ dpdkcompute[0]['int10g2'] }}
    dns_servers:
      get_param: DnsServers
    use_dhcp: false
    mtu:
      get_param: ControlPlaneNetworkMtu
    addresses:
    - ip_netmask:
        list_join:
          - '/'
          - - get_param: ControlPlaneIp
            - get_param: ControlPlaneSubnetCidr
    routes:
    -
      ip_netmask: 169.254.169.254/32
      next_hop:
        get_param: EC2MetadataIp
    -
      default: True
      next_hop:
        get_param: ControlPlaneDefaultRoute
  - type: vlan
    device: {{ dpdkcompute[0]['int10g3'] }}
    vlan_id:
      get_param: StorageNetworkVlanID
    mtu:
      get_param: StorageNetworkMtu
    addresses:
    - ip_netmask:
        get_param: StorageIpSubnet
  - type: vlan
    device: {{ dpdkcompute[0]['int10g3'] }}
    vlan_id:
      get_param: InternalApiNetworkVlanID
    mtu:
      get_param: InternalApiNetworkMtu
    addresses:
    - ip_netmask:
        get_param: InternalApiIpSubnet
  #- type: linux_bond
  #  name: bond0
  #  use_dhcp: false
  #  bonding_options: "mode=802.3ad xmit_hash_policy=layer3+4 lacp_rate=fast updelay=1000 miimon=100"
  #  members:
   # - type: interface
   #   name: {{ dpdkcompute[0]['int10g3'] }}
   #   primary: true
  #- type: vlan
   # vlan_id:
    #  get_param: TenantNetworkVlanID
    #device: {{ dpdkcompute[0]['int10g3'] }}
  - type: contrail_vrouter_dpdk
    name: vhost0
    vlan_id:
      get_param: TenantNetworkVlanID
    {% raw -%}
    driver: "{{ overcloud['extra_config']['ComputeDpdkParameters']['ContrailDpdkDriver'] }}"
    {% endraw -%}
    bond_mode: 4
    bond_policy: layer2+3
    cpu_list: "4,5,6,7"
    members:
      - 
        type: interface
        name: {{ dpdkcompute[0]['int_bond_slave1'] }}
        mtu:
          get_param: TenantNetworkMtu
      - 
        type: interface
        name: {{ dpdkcompute[0]['int_bond_slave2'] }}
        mtu:
          get_param: TenantNetworkMtu
    addresses:
    - ip_netmask:
        get_param: TenantIpSubnet
    mtu:
      get_param: TenantNetworkMtu
{% endif %}