# This config structure can be used to hold information that needs to be encrypted for privacy
# If there is a password stored in /var/lib/contrail_cloud/config/.vault_password then it will be used
# Otherwise the password can be entered interactively 
#
# This file can be edited with the "ansible-vault edit" command
# This file can be re-encrypted with a new password with the "ansible-vault rekey" command
vault:
  global:
    rhel:
      # Contrail Cloud Activation Key
      satellite:
        #SATELLITE_KEY
        key: "{{ global_config['cc_activation_key'] }}"
    # User account used for all Contrail Cloud automation 
    # This account will be created on:
    #    - jumphost
    #    - control hosts
    #    - all overcloud roles
    #    - appformix controllers
    service_user:
      # Account Name
      name: "contrail"
      # Account Password
      password: "c0ntrail123"
      # Passphrase used to encrypt ssh key of service user.
      # If not defined ssh private key will not be encrypted.
      # ssh_key_passphrase: "c0ntrail123"
  command:
    vm:
      # command user name
      user: "contrail"
      # password for the command vm user
      password: "c0ntrail123"
      # root password for the command VM
      root_password: "c0ntrail123"
      # backend database
      database_password: "c0ntrail123"
      # keystone admin password
      admin_password: "c0ntrail123"
      # Passphrase used to encrypt ssh key of command user.
      # If not defined ssh private key will not be encrypted.
      # ssh_key_passphrase: "c0ntrail123"
      vnc:
        # VNC console password for the command VM
        password: "contrail123"
  undercloud:
    vm:
      # undercloud user name
      user: "stack"
      # password for the undercloud vm user
      password: "contrail123"
      # root password for the undercloud VM
      root_password: "contrail123"
      # Passphrase used to encrypt ssh key of undercloud user.
      # If not defined ssh private key will not be encrypted.
      # ssh_key_passphrase: "c0ntrail123"
      vnc: 
        # VNC console password for the undercloud VM
        password: "contrail123"
  overcloud:
    #Administrator password
    admin_password: "c0ntrail123"
    # Root password used for local login to overcloud nodes through console
    # root_password: "contrail123"
  control_hosts:
    vm:
      vnc: 
        # VNC console password for all control VMs
        password: "contrail123"
  appformix:
    mysql:
      # Approfmix MySQL user account
      user: "appformix"
      # Approfmix MySQL user password
      password: "c0ntrail123"
    rabbitmq:
      # Approfmix RabbitMQ user account
      user: "appformix"
      # Approfmix RabbitMQ user password
      password: "c0ntrail123"
  # Credentials used to connect external ceph cluster
  ceph_external:
  #  client_key: "CLIENT_KEY"
  #  client_user: "openstack"

  # List of inventory hardware types that can hold hardware-specific properties
  # You can create similar configutations to allow reference from inventory-nodes.yml
  inventory_nodes:
    # VirtualBMC used to manage control VMs on control hosts
    vbmc:
      # VritualBMC IPMI user account for all control VMs
      user: "{{ jumphost[0]['IPMI_username'] }}"
      # VritualBMC IPMI password for all control VMs
      password: "{{ jumphost[0]['IPMI_password'] }}"
    # A sample configuration for a hardware type
    hardware1:
      # IPMI user account for Ironic inevntory resources
      pm_user: "{{ jumphost[0]['IPMI_username'] }}"
      # IPMI user password for Ironic inevntory resources
      pm_password: "{{ jumphost[0]['IPMI_password'] }}"
    # A sample configuration for a hardware type
    hardware2:
      # IPMI user account for Ironic inevntory resource
      pm_user: "{{ jumphost[0]['IPMI_username'] }}"
      # IPMI user password for Ironic inevntory resource
      pm_password: "{{ jumphost[0]['IPMI_password'] }}"